body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: "https://images.pexels.com/photos/17953714/pexels-photo-17953714/free-photo-of-palm-trees-under-clear-sky.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load";
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  width: 20%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  width: 75%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

.inventory-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #555;
}